@import '../../../assets/assets.css';

.BottomNavBar {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color:var(--primaryFade);
  height:76px;
  border: 1px solid var(--border);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: center;
}