@import '../../../assets/assets.css';

.TopNavBar {
  position: fixed;
  top: 0;
  left: 0;
  background-color:var(--primary);
  height:76px;
  border: 1px solid var(--border);
  width: calc(100% - 2px);
  display: flex;
  justify-content: space-between;
  align-content: center;
  overflow: hidden;
  z-index: 100;
}

.TopNavBar nav {
  height: 100%;
  margin: 0;
}

.Brand {
  height: 80%;
  padding: 7px 0;
  width: auto;
  margin: 0 var(--space);
}