.MainLogo {
  width: auto;
  max-width: 100vw;
  height: 15%;
  display: flex;
  justify-content: center;
  padding-bottom: var(--space);
}

.IconLinks {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--header1);
  padding-top: var(--space);
}

.IconWrapper {
  cursor: pointer;
  padding: 0 var(--space);
}

.MainLogo .Logo{
  width: 100%;
  height: auto;
}

@media (min-width: 500px){
  .MainLogo{
    width: 100%;
    max-width: 385px;
    min-width: 320px;
    height: auto;
    margin-right: 30px;
    margin: 0 var(--space);
  }

  .MainLogo .Logo{
    margin-right: 30px;
  }
}