@import '../../../assets/assets.css';

.Jumbotron {
  background-color: var(--container);
  box-shadow: var(--shadow);
  border-radius: var(--borderRadius);
  padding: var(--space);
}
.Jumbotron h1 {
  color: var(--header1);
  font-weight: lighter;
  margin: var(--space) 0;
  padding: var(--space) 0;
}

.Jumbotron p,
.Jumbotron div {
  color: var(--text);
  font-size: 25px;
  align-items: center;
}