:root {
  --primary: #BCEFA1;
  --primaryFade: #D3EDC6;
  --body: #CCE6E2;
  --text: #009D85;
  --header1: #246900;
  --container: #F0F0F0;
  --border: #707070;
  --headerOpacity: 70%;
  --space: 14px;
  --shadow: 4px 6px 6px rgba(0,0,0,0.6);
  --borderRadius: 20px;
}