@import '../../../assets/assets.css';

.Card {
  margin: var(--space);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow);
  background-color: var(--container);
  color: var(--text);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.Card h1 {
  margin: 0;
  padding: var(--space) 0;
  text-align: center;
  font-weight: lighter;
  background-color: var(--header1);
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  color: var(--container);
  opacity: 0.7;
}

.Card p{
  padding: 0 var(--space);
}

.Card div {
  padding: var(--space);
}

.Card ul {
  padding: 0;
  margin: 0;
}


.Card ul li {
  display: flex;
  justify-content: space-between;
}

.Card div.Button{
  padding: 2px var(--space);
}