@import './assets/assets.css';

.App {
  min-height: 100vh;
  background-color: var(--body);
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
}

.Container {
  width: 100%;
}

@media (min-width: 700px) {
  .Container {
    width: 80%;
  }
}